NightWatch.json
[
    {
        "id": "9f884cda188e733d",
        "type": "tcp in",
        "z": "942057cafb4ccbfc",
        "name": "",
        "server": "server",
        "host": "",
        "port": "6789",
        "datamode": "single",
        "datatype": "utf8",
        "newline": "",
        "topic": "",
        "trim": false,
        "base64": false,
        "tls": "",
        "x": 100,
        "y": 160,
        "wires": [
            [
                "e93f7da071cbfc5d"
            ]
        ]
    },
    {
        "id": "1504d8fed41d68a9",
        "type": "switch",
        "z": "942057cafb4ccbfc",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "hask",
                "v": "techalarm",
                "vt": "str"
            },
            {
                "t": "hask",
                "v": "seizurealarm",
                "vt": "str"
            },
            {
                "t": "hask",
                "v": "clientalive",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 410,
        "y": 360,
        "wires": [
            [
                "f064969950db3c60"
            ],
            [
                "99a79de82311d045"
            ],
            [
                "3baf0b0ea17b14c0"
            ],
            [
                "3baf0b0ea17b14c0"
            ]
        ]
    },
    {
        "id": "f064969950db3c60",
        "type": "function",
        "z": "942057cafb4ccbfc",
        "name": "Tech Alarm",
        "func": "var alarm = msg.payload.techalarm.desc[0];;\nvar alarm_old_1 = flow.get(\"NW_Alarm\");\nvar alarm_old_2 = flow.get(\"NW_old_1\");\nflow.set(\"NW_Alarm\", alarm);\nflow.set(\"NW_old_1\", alarm_old_1);\nflow.set(\"NW_old_2\", alarm_old_2);\n\nmsg.payload = alarm;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 340,
        "wires": [
            [
                "3023d44124e6ca6e"
            ]
        ]
    },
    {
        "id": "99a79de82311d045",
        "type": "function",
        "z": "942057cafb4ccbfc",
        "name": "Seizure Alarm",
        "func": "var alarm = msg.payload.seizurealarm.desc[0];\nvar alarm_old_1 = flow.get(\"NW_Alarm\");\nvar alarm_old_2 = flow.get(\"NW_old_1\");\nflow.set(\"NW_Alarm\", alarm);\nflow.set(\"NW_old_1\", alarm_old_1);\nflow.set(\"NW_old_2\", alarm_old_2);\n\nmsg.payload = alarm;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 380,
        "wires": [
            [
                "3023d44124e6ca6e"
            ]
        ]
    },
    {
        "id": "3baf0b0ea17b14c0",
        "type": "debug",
        "z": "942057cafb4ccbfc",
        "name": "debug 7",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 420,
        "wires": []
    },
    {
        "id": "4b6fcd2c58cf1f83",
        "type": "catch",
        "z": "942057cafb4ccbfc",
        "name": "",
        "scope": [
            "d0e2db5ba816a290"
        ],
        "uncaught": false,
        "x": 810,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "3023d44124e6ca6e",
        "type": "ha-sensor",
        "z": "942057cafb4ccbfc",
        "name": "",
        "entityConfig": "5ceb0ca98b6d9091",
        "version": 0,
        "state": "payload",
        "stateType": "msg",
        "attributes": [],
        "inputOverride": "allow",
        "outputProperties": [],
        "x": 770,
        "y": 360,
        "wires": [
            [
                "c372fc1b42177677",
                "c6dfd3d6da672e87",
                "7f5e7640c2470d54"
            ]
        ]
    },
    {
        "id": "c7d9f9e0c0bfc2d9",
        "type": "debug",
        "z": "942057cafb4ccbfc",
        "name": "debug 8",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1020,
        "y": 160,
        "wires": []
    },
    {
        "id": "f97ef08d55c94a79",
        "type": "split",
        "z": "942057cafb4ccbfc",
        "name": "",
        "splt": "<seizurealarm>",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 370,
        "y": 120,
        "wires": [
            [
                "696fee55855d0804"
            ]
        ]
    },
    {
        "id": "e93f7da071cbfc5d",
        "type": "switch",
        "z": "942057cafb4ccbfc",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "<seizurealarm>",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "<techalarm>",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "<clientalive>",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 230,
        "y": 160,
        "wires": [
            [
                "f97ef08d55c94a79"
            ],
            [
                "4bd65136e10bd383"
            ],
            [
                "4c9291fafe89c611"
            ],
            []
        ]
    },
    {
        "id": "4bd65136e10bd383",
        "type": "split",
        "z": "942057cafb4ccbfc",
        "name": "",
        "splt": "<techalarm>",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 370,
        "y": 160,
        "wires": [
            [
                "28be9d65296980e8"
            ]
        ]
    },
    {
        "id": "4c9291fafe89c611",
        "type": "split",
        "z": "942057cafb4ccbfc",
        "name": "",
        "splt": "<clientalive>",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 370,
        "y": 200,
        "wires": [
            [
                "3bf3f076675f9b2d"
            ]
        ]
    },
    {
        "id": "d0e2db5ba816a290",
        "type": "xml",
        "z": "942057cafb4ccbfc",
        "name": "",
        "property": "payload",
        "attr": "",
        "chr": "",
        "x": 810,
        "y": 160,
        "wires": [
            [
                "1504d8fed41d68a9",
                "c7d9f9e0c0bfc2d9"
            ]
        ]
    },
    {
        "id": "3bf3f076675f9b2d",
        "type": "function",
        "z": "942057cafb4ccbfc",
        "name": "<clientalive>",
        "func": "msg.payload = \"<clientalive>\" + msg.payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 200,
        "wires": [
            [
                "0dd3115362ac6bce"
            ]
        ]
    },
    {
        "id": "0dd3115362ac6bce",
        "type": "switch",
        "z": "942057cafb4ccbfc",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "<clientalive>",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 670,
        "y": 200,
        "wires": [
            [
                "d0e2db5ba816a290"
            ],
            []
        ]
    },
    {
        "id": "28be9d65296980e8",
        "type": "function",
        "z": "942057cafb4ccbfc",
        "name": "<techalarm>",
        "func": "msg.payload = \"<techalarm>\" + msg.payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 160,
        "wires": [
            [
                "f05c640d043ce605"
            ]
        ]
    },
    {
        "id": "f05c640d043ce605",
        "type": "switch",
        "z": "942057cafb4ccbfc",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "<techalarm>",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 670,
        "y": 160,
        "wires": [
            [
                "d0e2db5ba816a290"
            ],
            []
        ]
    },
    {
        "id": "696fee55855d0804",
        "type": "function",
        "z": "942057cafb4ccbfc",
        "name": "<seizurealarm>",
        "func": "msg.payload = \"<seizurealarm>\" + msg.payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 120,
        "wires": [
            [
                "1025b07a8b971547"
            ]
        ]
    },
    {
        "id": "1025b07a8b971547",
        "type": "switch",
        "z": "942057cafb4ccbfc",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "<seizurealarm>",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 670,
        "y": 120,
        "wires": [
            [
                "d0e2db5ba816a290"
            ],
            []
        ]
    },
    {
        "id": "ee150d57e73769e8",
        "type": "http request",
        "z": "942057cafb4ccbfc",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 590,
        "y": 600,
        "wires": [
            [
                "7939b21b0acf48cc"
            ]
        ]
    },
    {
        "id": "7939b21b0acf48cc",
        "type": "debug",
        "z": "942057cafb4ccbfc",
        "name": "debug 10",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 660,
        "wires": []
    },
    {
        "id": "c372fc1b42177677",
        "type": "function",
        "z": "942057cafb4ccbfc",
        "name": "Tasmota Display",
        "func": "var alarm = flow.get(\"NW_Alarm\");\nvar alarm_old_1 = flow.get(\"NW_old_1\");\nvar alarm_old_2 = flow.get(\"NW_old_2\");\nmsg.url = \"192.168.1.202/cm?cmnd=DisplayText%20[zx10y0]\" + alarm_old_2 + \"[x10y20]\"+ alarm_old_1 +\"[x0y40h120x10y45]\"+alarm+\"[x0y60h120]\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 560,
        "wires": [
            [
                "ee150d57e73769e8"
            ]
        ]
    },
    {
        "id": "7371919a5ffa757d",
        "type": "inject",
        "z": "942057cafb4ccbfc",
        "name": "",
        "props": [],
        "repeat": "60",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "x": 630,
        "y": 520,
        "wires": [
            [
                "c372fc1b42177677"
            ]
        ]
    },
    {
        "id": "dd3d95d0b1e1ae5f",
        "type": "api-call-service",
        "z": "942057cafb4ccbfc",
        "name": "",
        "server": "ee8cdebf.dbf2e",
        "version": 5,
        "debugenabled": false,
        "domain": "notify",
        "service": "lg_webos_smart_tv",
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "data": "",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 970,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "c6dfd3d6da672e87",
        "type": "function",
        "z": "942057cafb4ccbfc",
        "name": "TV Alerts",
        "func": "var alarm = msg.payload;\nmsg.payload = {\n    \"data\": {\n        \"title\": \"Test\",\n        \"message\": alarm,\n    }\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 920,
        "y": 600,
        "wires": [
            [
                "dd3d95d0b1e1ae5f"
            ]
        ]
    },
    {
        "id": "fd6f5bffed75b749",
        "type": "inject",
        "z": "942057cafb4ccbfc",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "all-good",
        "payloadType": "str",
        "x": 930,
        "y": 560,
        "wires": [
            [
                "c6dfd3d6da672e87"
            ]
        ]
    },
    {
        "id": "150f0dfeade4f017",
        "type": "http request",
        "z": "942057cafb4ccbfc",
        "name": "NTFY",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "192.168.1.22:90/nightwatch",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 170,
        "y": 580,
        "wires": [
            [
                "a10d22923e9fcbe0"
            ]
        ]
    },
    {
        "id": "a10d22923e9fcbe0",
        "type": "json",
        "z": "942057cafb4ccbfc",
        "name": "",
        "property": "payload",
        "action": "str",
        "pretty": true,
        "x": 170,
        "y": 620,
        "wires": [
            [
                "4d04d7c0ef3f2d5a"
            ]
        ]
    },
    {
        "id": "4d04d7c0ef3f2d5a",
        "type": "debug",
        "z": "942057cafb4ccbfc",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 190,
        "y": 660,
        "wires": []
    },
    {
        "id": "7f5e7640c2470d54",
        "type": "switch",
        "z": "942057cafb4ccbfc",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "All-Good",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "In-Rest",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 210,
        "y": 520,
        "wires": [
            [
                "bd309a62b3961365"
            ],
            [
                "bd309a62b3961365"
            ],
            [
                "150f0dfeade4f017"
            ]
        ]
    },
    {
        "id": "bd309a62b3961365",
        "type": "debug",
        "z": "942057cafb4ccbfc",
        "name": "debug 22",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 360,
        "y": 520,
        "wires": []
    },
    {
        "id": "5ceb0ca98b6d9091",
        "type": "ha-entity-config",
        "server": "ee8cdebf.dbf2e",
        "deviceConfig": "a8d528f6e625f15e",
        "name": "",
        "version": "6",
        "entityType": "sensor",
        "haConfig": [
            {
                "property": "name",
                "value": "NightWatch"
            },
            {
                "property": "icon",
                "value": ""
            },
            {
                "property": "entity_category",
                "value": ""
            },
            {
                "property": "device_class",
                "value": ""
            },
            {
                "property": "unit_of_measurement",
                "value": ""
            },
            {
                "property": "state_class",
                "value": ""
            }
        ],
        "resend": false,
        "debugEnabled": false
    },
    {
        "id": "ee8cdebf.dbf2e",
        "type": "server",
        "name": "Home Assistant",
        "version": 5,
        "addon": true,
        "rejectUnauthorizedCerts": true,
        "ha_boolean": "y|yes|true|on|home|open",
        "connectionDelay": false,
        "cacheJson": true,
        "heartbeat": true,
        "heartbeatInterval": "30",
        "areaSelector": "friendlyName",
        "deviceSelector": "friendlyName",
        "entitySelector": "friendlyName",
        "statusSeparator": "at: ",
        "statusYear": "hidden",
        "statusMonth": "short",
        "statusDay": "numeric",
        "statusHourCycle": "h23",
        "statusTimeFormat": "h:m",
        "enableGlobalContextStore": true
    },
    {
        "id": "a8d528f6e625f15e",
        "type": "ha-device-config",
        "name": "NightWatch",
        "hwVersion": "",
        "manufacturer": "Node-RED",
        "model": "",
        "swVersion": ""
    }
]
